$maxWidth: 1920px;
$minWidth: 320px;
$pcSize: 80px;
$bg: #e3e4e8;
$checkBg: #ffffff;
$checkBorder: #f4ba25;
$checkColor: #f4ba25;
$chekSpanColor: #255ff4;
$fg: #17181c;
$fgDim: #5c6270;
$primary: #f76d43;
$dur: 0.6s;
